.blok
    .info
        .adnotacja
            h2 Czas na algorytm Minmax
            p.
                Tak jak wcześniej zostało to powiedziane, że AI wykorzystuje wartość minimax, aby wybrać najlepszą możliwość z listy dostępnych akcji, 
                co wymaga posortowania możliwości w oparciu o wartość minmax-u. 
                W tym celu udostępniamy dwie publiczne funkcje statyczne, które możemy użyć jako funkcję porównania. Aby przejść do funkcji ( Array.prototype.sort ) 
                w celu sortowania listy działań zarówno w kierunku rosnącym jak i malejącym.
                
    pre
        code.language-javascript.
            //metoda statyczna definiująca zasadę sortowania
            //zwraca liczby -1.1 lub 0
            AIAction.ASCENDING = function(firstAction, secondAction) {
                if(firstAction.minimaxVal < secondAction.minimaxVal)
                    return -1; //wskazuje, że pierwsza akcja jest przed drugą.
                else if(firstAction.minimaxVal > secondAction.minimaxVal)
                    return 1; //wskazuje, że druga akcja jest przed pierwszą.
                else
                    return 0; //wskazuje remis.
            }

            //to samo co wyżej tylko inny znak '>'
            AIAction.DESCENDING = function(firstAction, secondAction) {
                if(firstAction.minimaxVal > secondAction.minimaxVal)
                    return -1; 
                else if(firstAction.minimaxVal < secondAction.minimaxVal)
                    return 1; 
                else
                    return 0;
            }
