doctype html
html
    head
        meta(charset='utf-8')
        title Algorytm kółko i krzyżyk
        link(rel='stylesheet',href='reset.css')
        link(rel='stylesheet',href='http://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet',href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css')
        link(rel='stylesheet',href='prism.css')
        link(rel='stylesheet',href='style.css')
        meta(name='viewport',content='width=device-width, initial-scale=1.0')
            
    body
        .box.opening
            .row
                .col.s12.center
                    img(src='http://www.warszawskie-przedszkole.pl/images/pelnegodlo.png')
                    .adnotacja
                        h3  Projekt: 
                            span "Kółko i Krzyżyk"
                        h4 Prezentacja algorytmu
                        hr
                        h5 gr. 
                            span 17 I 2
                        h5 Jastrzębski Dominik 
                            span 4351
                        h5 Malec Piotr 
                            span 4731
                        h5 Maruszewski Kryspin Rafał 
                            span 4534
                        h5 Wrzosek Paweł 
                            span 632

            include includy/block1.pug
            include includy/block2.pug
            include includy/block3.pug
            include includy/block4.pug
            include includy/block5.pug
            include includy/block6.pug
            include includy/block7.pug
            include includy/block8.pug
            include includy/block9.pug
            include includy/block10.pug
            include includy/game.pug
            
        script(src='prism.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
